<!DOCTYPE html>
<html>
   <head>
      <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/info.css">
      <div class="page-bg"> </div>
   </head>
   <body>
      <div class="main-content">
         <div id="navbar">
            <a href="#default" id="logo">{{title}}</a>
            <div id="navbar-right">
               <a class="active" href="/">Home</a>
               <a href="/info">Clan Members</a>
               <a href="/about">About</a>
               <form method="GET" action="/login"> 
                  <button class="entryB" type="submit">
                  <span>My Profile </span>
                  </button>
               </form>
            </div>
         </div>
         <div style="margin-top: 35%;margin-left:auto; margin-right:auto;"></div>
         <div id="container"></div>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/navigationbar.js"></script>
      <script src="/js/create-profiles.js"></script>
      <div class="pagination">
         <a href="#">&laquo;</a>
         <a id="1" onclick="paginationResponder(1)" href="javascript:void(0);">1</a>
         <a id="2" href="#" onclick="paginationResponder(2)" >2</a>
         <a id="3" href="#" onclick="paginationResponder(3)" >3</a>
         <a href="#">&raquo;</a>
      </div>
      {{>footer}}
   </body>
</html>