<!DOCTYPE html>
<html>
   <head>
      <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {{!-- <link rel="stylesheet" href="/css/user.css"> --}}
      <link rel="stylesheet" href="/css/login.css">
      <div class="page-bg"> </div>
   </head>
   <body>
      <div class="main-content">
         <div id="navbar">
            <a href="#default" id="logo">{{title}}</a>
            <div id="navbar-right">
               <a class="active" href="/">Home</a>
               <a href="/info" style="color: white;">Clan Members</a>
               <a href="/about" style="color: white;">About</a>
            </div>
         </div>
         <div id="bodys">
            <form class="modal-content animate" action="/user/login" method="post">
               <div class="container">
                  <input type="text" placeholder="Email" name="email" required>
                  <input type="password" placeholder="Password" name="password" required>
                  <button type="submit">Login</button>
               </div>
            </form>
         </div>
      </div>
      <script src="/js/navigationbar.js"></script>
      {{>footer}}
   </body>
</html>